<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.zhengguan.SSMjm.dao.UserDao">
    <select id="findByName" parameterType="string" resultType="User">
          select * from user
            where username=#{username}
    </select>
    <insert id="save" parameterType="User">
            insert into user(username,password,phone,email)
            value(#{username},#{password},#{phone},#{email})
    </insert>
    <select id="getAll"  parameterType="string" resultType="User">
select id, username,phone,email,udate from user
    </select>

    <select id="findWithLoginAndPassword" parameterType="string" resultType="User">
          select * from user
            where username=#{username} and password=#{password}
    </select>

    <delete id="deletes">
        delete from user
        where id in
        <foreach collection="ids" open="(" item="id" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <update id="updUser" parameterType="user">
        update user set username=#{username},email=#{email},phone=#{phone} where id=#{id};
    </update>


    <select id="selectgoods" resultType="goods">
          select * from goods
    </select>


    <delete id="deletegood">
        delete from goods  where id=#{id}
    </delete>


    <insert id="insertgood" parameterType="goods">
            insert into goods(id,name,price,count )
            value(#{id},#{name},#{price},#{count})
    </insert>


    <update id="updategood" parameterType="goods">
        update goods set name=#{name},count=#{count},price=#{price} where id=#{id};
    </update>

</mapper>